/* icon style */
@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\2190'; } /* '←' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-right-hand:before { content: '\261e'; } /* '☞' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-ok-1:before { content: '\e800'; } /* '' */
.icon-ok-2:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-key-inv:before { content: '\e801'; } /* '' */

/* page style */
.x-list .x-list-item { 
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
color: #fff; 
font-family: Helvetica,Arial,sans-serif;
font-size: 19px;
font-weight: bold;
border-top: 1px solid rgba(255, 255, 255, 0.07);
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.x-list .x-list-item.x-item-selected, .x-list .x-list-item.x-item-pressed { 
    background-image: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.x-list .x-list-item:nth-child(1), .x-list .x-item-selected:nth-child(1) { background-color: rgb(50, 100, 150);  }
.x-list .x-list-item:nth-child(2), .x-list .x-item-selected:nth-child(2) { background-color: rgb(60, 110, 160); }
.x-list .x-list-item:nth-child(3), .x-list .x-item-selected:nth-child(3) { background-color: rgb(70, 120, 170); }
.x-list .x-list-item:nth-child(4), .x-list .x-item-selected:nth-child(4) { background-color: rgb(80, 130, 180); }
.x-list .x-list-item:nth-child(5), .x-list .x-item-selected:nth-child(5) { background-color: rgb(90, 140, 190); }
.x-list .x-list-item:nth-child(6), .x-list .x-item-selected:nth-child(6) { background-color: rgb(100, 150, 200); }
.x-list .x-list-item:nth-child(7), .x-list .x-item-selected:nth-child(7) { background-color: rgb(110, 160, 210); }
.x-list .x-list-item:nth-child(8), .x-list .x-item-selected:nth-child(8) { background-color: rgb(120, 170, 220); }

.x-list .x-list-item, .x-item-selected {
    background-color: rgb(120, 170, 220);
}

#writearea {
    border: 0px;
    border-radius: 0px;
    padding: 20px;
    font-size: 30px;
    color: white;
    width: 100%;
    height: 100%;
    background-image: none;
    background: rgb(120, 170, 220);
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    padding-top: 80px;
}

#writearea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
}

.button {
    opacity: 0.8;
    background-color: #445;
    height: 100%;
    width: 50%;
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding-top: 12px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#ipad_side {
    background-color: #999;
    border-left: 1px solid #555;
    box-shadow: 0 0 5px #111;
}

#entryfilter {
    position: absolute; 
    width: 100%; 
    height: 45px; 
    top: 0px; 
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
}

#filtertext {
    background: none;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    color: #fff;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
}

#entry_list .x-list-parent {
    top: 45px;
}

#entry_list .x-list-header-swap {
    top: 45px;
}

.rightbutton { background: #877; float: right; position: relative; top: -60px; }

.checkbox { 
    height: 100%;
    width: 56px;
    background-color: rgba(255,255,255, 0.1);
    display: block;
    position: absolute;
    right: 0px;
    top: 0px; 
    display: none;
}

.todo .checkbox {
    display: block;
}

.maintext.todo {
    padding-right: 45px;
}

.icon-ok {
    font-size: 40px;
    margin-left: 2px;
    top: 50%;
    margin-top: -22px;
    position: absolute;
    display: none;
}

.done .icon-ok { display: inline; }

/*
.x-list .x-list-item:nth-child(1) { background-color: rgb(239, 0, 0);  }
.x-list .x-list-item:nth-child(2) { background-color: rgb(240, 19, 6); }
.x-list .x-list-item:nth-child(2) { background-color: rgb(241, 39, 12); }
.x-list .x-list-item:nth-child(4) { background-color: rgb(242, 59, 18);} 
.x-list .x-list-item:nth-child(3) { background-color: rgb(243, 79, 24);}
.x-list .x-list-item:nth-child(4) { background-color: rgb(244, 99, 30); }
.x-list .x-list-item:nth-child(4) { background-color: rgb(245, 119, 36);  }
.x-list .x-list-item:nth-child(5) { background-color: rgb(247, 159, 48);  }
.x-list .x-list-item:nth-child(6) { background-color: rgb(247, 209, 60);  }
.x-list .x-list-item:nth-child(7) { background-color: rgb(247, 249, 72);  }
*/